.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.deleteFormModal {
    width: 340px;
    background-color: #18181B;
    border-radius: 10px;
    padding: 25px 20px;
    border: 1px solid #47474A;
    text-align: center;
}

.deleteFormHeader {
    display: flex;
    margin-bottom: 25px;
}

.deleteFormHeader .title {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 600;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.confirmBtn {
    background-color: transparent;
    color: #4B83FF;
    border: none;
    border-radius: 5px;
    /* padding: 8px 20px; */
    font-size: 1rem;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

.confirmBtn:hover {
    color: #0753f6;
}

.cancelBtn {
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.cancelBtn:hover {
    color: #d1cdcd;
}

.divider {
    height: 20px;
    width: 1px;
    background-color: #47474A;
}
