.flowSection {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #1F1F23;
}

.light {
    background-color: #ffffff;
    border: 1px solid #D6D6D6
}

.leftSection {
    position: fixed;
    left: 2%;
    bottom: 0%;
    width: 344px;
    height: 89%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    padding-top: 60px;
    border: 1px solid #FFFFFF29;
    background-color: #18181B;
}

.light .leftSection {
    border: 1px solid #00000029;
    background-color: #ffffff;
    box-shadow: 0px 20px 25px -5px #0000001A;
}

.leftSection .box {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 149px;
    height: 39px;
    padding-left: 10px;
    font-size: 1rem;
    border: 1px solid #27272A;
    border-radius: 10px;
    cursor: pointer;
    background-color: #1F1F23;
    color: #FFFFFFEB;
}

.light .box {
    border: 1px solid #D6D6D6;
    background-color: #ffffff;
    color: #000000EB;
}

.bubbles,
.inputsSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.rightSection {
    width: 100%;
    margin-left: 400px;
    padding-left: 10%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto; 
    max-height: calc(100vh - 60px);
    box-sizing: border-box;
}

.rightSection::-webkit-scrollbar {
    display: none;
}

.startBox {
    width: 309px;
    height: 60px;
    background-color: #18181B;
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
    flex-shrink: 0;
}

.light .startBox {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #D6D6D6;
}

.flagIcon {
    width: 20px;
    height: 20px;
}

.elementBox {
    width: 329px;
    height: 129px;
    padding: 15px 20px;
    background-color: #18181B;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    flex-shrink: 0;
}

.light .elementBox {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #D6D6D6;
}

.inputBox {
    padding: 12px 25px;
    font-size: 1rem;
    background-color: #1F1F23;
    border: none;
    border-radius: 5px;
    color: #C0C0C04F;
}

.inputBox::placeholder {
    color: #84848454;
}

.light .inputBox {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #D6D6D6;
}

.deleteButton {
    position: absolute;
    padding: 5px;
    background-color: #27272A;
    border-radius: 25px;
    top: -8%;
    right: -4%;
    cursor: pointer;
}

.light .deleteButton {
    border: 1px solid #D6D6D6;
    background-color: #ffffff;
}